<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div>
            {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <em><p>published: {{ post.published_date }}</p></em>
                <!- the |linebreaksbr is piping the posts' text through a filter to convert line-breaks into paragraphs. ->
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>